<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>Restaurante Costa</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Restaurante Braga Costa" name="keywords">
  <meta content="Restaurante Costa Braga, restaurante de excelência situado em Braga, com grande qualidade, grande capacidade para eventos e com a tradicional cozinha portuguesa." name="description">
  <meta name="author" content="Afonso Costa">

  <!-- Favicons -->
  <link href="img/apple-touch-icon.ico" rel="icon">
  <link href="img/apple-touch-icon.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Bad+Script" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a> -->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1>
          <a href="#hero">Costa</a>
        </h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active">
            <a href="#hero">Inicio</a>
          </li>
          <li>
            <a href="#about">Sobre</a>
          </li>
          <li>
            <a href="#services">Servicos</a>
          </li>
          <li>
            <a href="#portfolio">Menu</a>
          </li>
          <li>
            <a href="#team">Galeria</a>
          </li>
          <li>
            <a href="#contact">Contactos</a>
          </li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Bem vindo ao
        <br> Restaurante Costa</h1>
      <a href="#about" class="btn-get-started">Começar</a>
    </div>
  </section>
  <!-- #hero -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Algumas coisas sobre nós</h2>
            <p>
              Fundado em 1992, o Restaurante Costa é uma empresa familiar e conta com mais de 25 anos de experiencia e tem como objetivo levar aos seus clientes uma comida tradicional a um preço económico.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon">
                <i class="fa fa-shopping-bag"></i>
              </div>
              <h4 class="title">Várias salas para diferentes tipos de eventos</h4>
              <p class="description">Possuimos 4 espaços diferentes onde é possivel realizar diversos tipos de eventos!</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon">
                <i class="fa fa-photo"></i>
              </div>
              <h4 class="title">5 minutos centro da cidade</h4>
              <p class="description">O restuarante Costa fica localizado perto do centro da cidade de Braga, ficando a cerca de 5 minutos de carro do centro</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon">
                <i class="fa fa-bar-chart"></i>
              </div>
              <h4 class="title">
                </a>Parque privado</h4>
              <p class="description">Oferecemos a todos os nossos clientes um grande parque de estacionamento onde poderá deixar tranquilamente a sua viatura</p>
            </div>

          </div>
          <div class="row col-lg-6 order-lg-2 order-1 wow fadeInRight" style="padding-top:50px;">
            <div class="col-sm-6 text-center">
              <a href="img/1110.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/1111.jpg" alt=" Sala 1">
              </a>
              <h4>Sala</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/9.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/1114.jpg" alt="Salao 1">
              </a>
              <h4>Sala 2</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/117.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/1112.jpg" alt="Bar">
              </a>
              <h4>Sala 3</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/1n.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/2n.jpg" alt="Salao 2">
              </a>
              <h4>Bar</h4>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Factos</h3>
          <p class="section-description">Alguns factos sobre o restaurante Costa</p>

        </div>
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span>25</span>
            <p>Anos de experiencia</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span>4</span>
            <p>Salas</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span>400</span>
            <p>Lugares</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span>5</span>
            <p>Minutos do centro da cidade</p>
          </div>

        </div>

      </div>
    </section>
    <!-- #facts -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Serviços</h3>
          <p class="section-description">Oferecemos uma grande variedade de serviços para que todos os clientes possam ficar satisfeitos</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon">
                <a>
                  <i class="fa fa-user"></i>
                </a>
              </div>
              <h4 class="title">
                <a>Diarias</a>
              </h4>
              <p class="description">Oferecemos uma grande variedade de pratos tradicionais a um preco acessivel</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon">
                <a>
                  <i class="fa fa-glass"></i>
                </a>
              </div>
              <h4 class="title">
                <a>Eventos</a>
              </h4>
              <p class="description">Temos vários menus disponiveis para realização de eventos</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon">
                <a>
                  <i class="fa fa-users"></i>
                </a>
              </div>
              <h4 class="title">
                <a>Excursões</a>
              </h4>
              <p class="description">Possuimos tambem menus adquados para excursões, para que a sua empressa consiga o melhor racio de preço/qualidade</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- #services -->

    <!--==========================
      Menu Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Menu</h3>
          <p class="section-description">Alguns dos menus disponiveis para festas ou jantares de grupo</p>
          <hr>
        </div>

        <div="container">
          <div class="row">
            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 1</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão e manteiga</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">1/2 dose por pessoa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Vinho da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café </td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 10.00€</td>
                </tr>
              </table>
              <div class="col-lg-12">
                <hr>
              </div>
            </div>

            <div class="col-lg-2"></div>

            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 2</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Bifinhos e vitela</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Vinho da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 13.00€</td>
                </tr>
              </table>
              <div class="col-lg-12">
                <hr>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 3</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Camarão</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Chouriço grelhado</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sopa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Bacalhau e vitela</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sobremesa da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 14.60€</td>
                </tr>
              </table>
              <div class="col-lg-12">
                <hr>
              </div>
            </div>

            <div class="col-lg-2"></div>

            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 4</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Camarão</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Chouriço grelhado</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sopa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">1º prato - Filetes</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">2º prato - Bifinhos e vitela</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sobremesa da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 14.60€</td>
                </tr>
              </table>
              <div class="col-lg-12">
                <hr>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 5</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos </td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Camarão </td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Chouriço grelhado</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sopa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">1º prato - Bacalhau e filetes</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">2º prato - Bifinhos e vitela</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sobremesa da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 16.60€</td>
                </tr>
              </table>
              <div class="col-lg-12">
                <hr>
              </div>
            </div>

            <div class="col-lg-2"></div>

            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 6</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Camarão</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Chouriço grelhado</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sopa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">1º prato - Bacalhau</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">2º prato - Bifinhos e vitela</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sobremesa da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 19.00€</td>
                </tr>
              </table>
              <div class="col-lg-12">
                <hr>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 7</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Picadinho</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Presunto</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">1 prato por pessoa</td>
                </tr>
		<tr>
		<td style="font-family: 'Bad Script', cursive; font-size:20px;">Vinho da casa</td>
		</tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sobremesa da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 13.20€</td>
                </tr>
              </table>
              <div class="col-lg-12">
                <hr>
              </div>
            </div>

            <div class="col-lg-2"></div>

            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 8</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Moelas</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Presunto</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Bifinhos e vitela</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sobremesa da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 12.60€</td>
                </tr>
              </table>
              <div class="col-lg-12">
                <hr>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 9</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Presunto</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Camarão</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Moelas</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Chouriço grelhado</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Polvo</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sopa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Bifinhos e vitela</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sobremesa da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 15.20€</td>
                </tr>
              </table>
              <div class="col-lg-12">
             <hr>
		 </div>
            </div>

            <div class="col-lg-2"></div>

            <div class="row col-lg-5">
              <table style="width:100%; text-align: center">
                <tr>
                  <td style="text-align: center; font-family: 'Pacifico', cursive; font-size:21px;">Menu 10</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Pão, manteiga e salgadinhos</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Presunto</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Camarão</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Moelas</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Chouriço grelhado</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Polvo</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Posta de carne e picanha</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Sobremesa da casa</td>
                </tr>
                <tr>
                  <td style="font-family: 'Bad Script', cursive; font-size:20px;">Café</td>
                </tr>
                <tr>
                  <td style="font-family: 'Pacifico', cursive; font-size:20px;">Preço por pessoa - 18.00€</td>
                </tr>
              </table>
              <div class="col-lg-12">
              </div>
            </div>
		
            <div class="col-lg-12 text-center" style="font-family: 'Pacifico', cursive; font-size:20px;">
		<hr />
              Vinho da casa e outras bebidas 3.50€ por pessoa, sem digestivos.
              <br> Vinho Ponte Lima ou Alandra 4.50€ por pessoa, sem digestivos.
              <br> Bebidas apenas incluidas nos menus 1 e 2.
              <br> Bebidas incluidas só durante a refeição.
              <br> Crianças de 3 a 10 anos metade do valor.
            </div>


          </div>
      </div>
    </section>
    <!-- #menu -->

    <!--==========================
      Galeria Section
    ============================-->
    <section id="team">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Galeria</h3>
          <p class="section-description">Algumas fotos do espaço e de alguns eventos</p>
        </div>
        <div class="row about-container">

          <div class="row col-lg-6 order-lg-2 order-1">
            <div class="col-sm-6 text-center">
              <a href="img/50.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/50p.jpg" alt="Sala 1">
              </a>
              <h4>Sala 3</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/51.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/51p.jpg" alt="Salao 1">
              </a>
              <h4>Sala 2</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/52.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/52p.jpg" alt="Bar">
              </a>
              <h4>Sala 3</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/53.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/53p.jpg" alt="Salao 2">
              </a>
              <h4>Sala 2</h4>
            </div>
          </div>

          <div class="row col-lg-6 order-lg-2 order-1">
            <div class="col-sm-6 text-center">
              <a href="img/54.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/54p.jpg" alt=" Sala 1">
              </a>
              <h4>Sala 2</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/55.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/55p.jpg" alt="Salao 1">
              </a>
              <h4>Sala 2</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/56.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/56p.jpg" alt="Bar">
              </a>
              <h4>Sala 2</h4>
            </div>
            <div class="col-sm-6 text-center">
              <a href="img/57.jpg" data-lightbox="roadtrip">
                <img class="img-responsive" src="img/57p.jpg" alt="Salao 2">
              </a>
              <h4>Sala 2</h4>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- #galeria -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contactos</h3>
          <p class="section-description"></p>
        </div>
      </div>
      <div class="text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.03673311132!2d-8.450355259776472!3d41.56262651515464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf28ff15dcfa9ba3!2sRestaurante+Costa+(frossos)!5e1!3m2!1spt-PT!2spt!4v1470936458672"
          width="59%" height="400" style="margin-bottom:1%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="container wow fadeInUp">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-4">
            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>Rua São Sebastião Lote 53 A
                  <br>4700-154, Frossos, Braga</p>
              </div>
              <div>
                <i class="fa fa-envelope"></i>
                <p>arturcosta53@hotmail.com</p>
              </div>
              <div>
                <i class="fa fa-phone"></i>
                <p>+351 253 623 290</p>
              </div>
              <div>
                <a href="https://www.facebook.com/RestauranteCosta/" class="facebook">
                  <i class="fa fa-facebook-square"></i>
                  <p>/RestauranteCosta</p>
                </a>
              </div>
            </div>
            <div class="info">
              <h5>Horário</h5>
              <hr style="margin-top:3px; margin-bottom:3px;">
              <p style="padding: 8px; margin-top:1px;">Segunda a Domingo: 10h00-15h00
                <br>
                <br>Segunda a Domingo: 18h30-23h00 </p>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <p class="section-description text-center">Envie-nos uma mensagem e iremos responder o mais rápido possivel!</p>
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="/mail" method="post" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="O seu nome" data-rule="minlen:3" data-msg="Por favor introduza no minimo 3 caracteres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="O seu email" data-rule="email" data-msg="Introduza um email valido" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Por favor introduza no minimo 4 caracteres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escreva uma mensagem" placeholder="Mensagem"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button id="submit" name="submit" type="submit">Enviar Mensagem</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  
  <!-- #footer -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
  </a>

  <!-- JavaScript Libraries -->
  <script src="js/lightbox-plus-jquery.min.js"></script>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  {{#if sucess}}
  <script>
    alert("Email enviado com sucesso")
  </script>
  {{/if}} {{#if erro}}
  <script>
    alert("Email não enviado")
  </script>
  {{/if}}

</body>

</html>
